ion-menu {
    --background: #f0f0f5; /* Fondo suave */
  }
  
  ion-item {
    --color: #333; /* Color del texto */
    --background: #ffffff; /* Fondo del item */
  }
  
  ion-title {
    --color: #000; /* Color del título */
  }
  
  ion-header {
    --background: #3366ff; /* Color de fondo del header del menú */
  }  