<ion-header>
  <ion-toolbar>
    <!-- Botón de menú que abre el menú lateral -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Comprar Entradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">
  <form>
    <ion-item>
      <ion-label position="floating">Evento</ion-label>
      <ion-select [(ngModel)]="selectedEvent" name="selectedEvent" placeholder="Selecciona un evento" required>
        <ion-select-option value="radiohead">Radiohead</ion-select-option>
        <ion-select-option value="thestrokes">The Strokes</ion-select-option>
        <ion-select-option value="jeffbuckley">Jeff Buckley</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad de Entradas</ion-label>
      <ion-input [(ngModel)]="ticketCount" name="ticketCount" type="number" min="1" max="10" required></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="comprarEntradas()">Comprar Entradas</ion-button>
  </form>

  <!-- Spinner de animación que se activará durante la compra -->
  <ion-spinner *ngIf="showSpinner" name="crescent"></ion-spinner>
</ion-content>