<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form id="loginForm">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input id="username" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input id="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Login</ion-button>

    <!-- Botón para abrir el modal de "Olvidar Contraseña" -->
    <ion-button expand="block" color="medium" (click)="openForgotPasswordModal()">¿Olvidaste tu contraseña?</ion-button>
  </form>
</ion-content>