<ion-header>
  <ion-toolbar>
    <!-- Botón de menú -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo" slot="start" src="assets/icon/logo.png"></ion-img>
    <ion-title>Compra y Venta de Entradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Contenedor del logo -->
  <div class="logo-container"></div>

  <!-- Mensaje de bienvenida personalizado -->
  <h2>Bienvenido, {{ username }}!</h2>
  <p>¡Nos alegra que estés de vuelta en Compra y Venta de Entradas! Disfruta de nuestros próximos eventos y compra tus entradas ahora.</p>

  <!-- Resto del contenido de la página -->
  <h1>¿Quiénes somos?</h1>
  <p>¡Bienvenido a Compra y Venta de Entradas! Este es un lugar para gente que gusta de la buena música y de los conciertos.</p>

  <!-- Botón para iniciar sesión -->
  <div class="fixed-bottom-buttons">
    <ion-button routerLink="/login" expand="block" shape="round" color="primary">
      <ion-icon slot="start" name="log-in"></ion-icon>Iniciar Sesión
    </ion-button>
  </div>
</ion-content>