<ion-header>
  <ion-toolbar>
    <ion-img class="logo" slot="start" src="assets/icon/logo.png"></ion-img>
    <ion-title>Compra y Venta de Entradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Contenedor del logo -->
  <div class="logo-container">
  </div>

  <h1>¿Quiénes somos?</h1>
  <p>¡Bienvenido a Compra y Venta de Entradas! Este es un lugar para gente que gusta de la buena música y de los conciertos.</p>

  <!-- Botón para iniciar sesión con evento click -->
  <ion-button expand="block" color="primary" (click)="navigateToLogin()">Iniciar Sesión</ion-button>
</ion-content>